<div class="hello-sidebar" style="background-image: url(https://source.unsplash.com/user/ethanwu/likes/600X1500)">
    <div class="hello-info">
      <a href="/">
          <div class="hello-avatar" style="background-image: url(http://7xkphs.com1.z0.glb.clouddn.com/avatar/myAvatar.jpg)"></div>
          <div class="hello-myname"><h4>吴彦欣</h4></div>
      </a>

      <ul class="hello-social">
        <li><a target="_blank" href="https://github.com/wuyanxin"><i class="hello-icon-github"></i></a></li>
        <li><a target="_blank" href="http://weibo.com/zpup"><i class="hello-icon-weibo"></i></a></li>
        <li><a target="_blank" href="http://www.jianshu.com/users/6f1b27b45dd9"><i class="hello-icon-jianshu"></i></a></li>
        <li><a target="_blank" href="/rss"><i class="hello-icon-rss2"></i></a></li>
      </ul>

      <div class="hello-description">
          {{@blog.description}}
      </div>
    </div>

    <div class="hello-footer">
        photo by <a href="http://unsplash.com">unsplash</a>
        <!--<br/>
        &copy; 2015-{{date format="YYYY"}} All rights reserved.
        Build with <a href="http://github.com/wuyanxin/ghost-theme-hello">hello</a>
        on <a href="http://ghost.org">ghost</a>-->
    </div>
</div>