.hello-wrapper {
    margin-left: 420px;
}

.hello-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 408px;
    margin-bottom: 0;
    color: #fff;
    background-size: cover;
    background-color: #3D3C3C;
    text-shadow: -1px 0 0 rgba(0,0,0,0.75);
}

.hello-info {
    font-size: 16px;
    font-weight: bolder;
}
.hello-sidebar a, .hello-sidebar h4{
    color: #fff;
}

.hello-info a {
    text-decoration: none;
}

.hello-avatar {
    display: block;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    margin: 100px auto 10px;
}

.hello-myname {
    text-align: center;
}

ul.hello-social {
    font-size: 24px;
    list-style: none;
    padding-left: 2em;
}

ul.hello-social li {
    display: inline-block;
    margin: 1em;
}

.hello-description {
    padding: 0 1em;
    text-align: center;
}

.hello-footer {
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    min-height: 1em;
    bottom: 5px;
    padding: 0 5px;
}

/* post */
.post {
    position: relative;
    /*width: 80%;*/
    /*max-width: 710px;*/
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: #EBF2F6 1px dashed;
    word-wrap: break-word;
}

@font-face {
    font-family: 'hello-icons';
    src:    url('../fonts/hello-icons.eot?wpztfa');
    src:    url('../fonts/hello-icons.eot?wpztfa#iefix') format('embedded-opentype'),
    url('../fonts/hello-icons.ttf?wpztfa') format('truetype'),
    url('../fonts/hello-icons.woff?wpztfa') format('woff'),
    url('../fonts/hello-icons.svg?wpztfa#hello-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="hello-icon-"], [class*=" hello-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hello-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hello-icon-jianshu:before {
    content: "\e900";
}
.hello-icon-weibo:before {
    content: "\e901";
}
.hello-icon-rss2:before {
    content: "\e902";
}
.hello-icon-github:before {
    content: "\e903";
}

